<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <% include ./partials/header.html %>
  </head>
  <body id="welcome-page-body">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to My Basic CRUD App</h1>

      <form method="GET" action="/user">
        <div class="form-group">
          <input
            id="username-signin-field"
            class="form-control"
            type="text"
            value="<%= newUser %>"
            placeholder="username"
            name="username"
            required
          />
        </div>
        <% if (wrongUsername) { %>
        <p>
          <small>
            Username does not exist. Try another username or create a new
            account with Signup link at bottom
          </small>
        </p>
        <% } %>
        <button type="submit" class="btn btn-primary">Signin</button>
      </form>

      <p id="signup-prompt" class="lead">
        Don't have an account?
        <a href="/signup">Signup here</a>
      </p>
    </div>
  </body>
</html>
