<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <% include ./partials/header.html %>
  </head>
  <body>
    <% include ./partials/navbar.html %>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account Options</h5>
            <button
              type="button"
              class="center-and-make-block btn btn-light btn-outline-secondary"
              data-toggle="modal"
              data-target="#update-username-box"
            >
              Update username
            </button>
            <button
              type="button"
              class="center-and-make-block btn btn-light btn-outline-secondary"
              data-toggle="modal"
              data-target="#delete-account-box"
            >
              Delete account
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account Activity</h5>

            <p>Coming</p>
          </div>
        </div>
      </div>
    </div>

    <form method="POST" action="/account?username=<%= username %>&_method=PUT">
      <input type="hidden" name="oldusername" value="<%= username %>" />
      <div
        class="modal fade"
        id="update-username-box"
        tabindex="-1"
        role="dialog"
        data-show="true"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                New Username Box
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="newusername" class="col-form-label"
                  >New username:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="newusername"
                  id="newusername"
                  placeholder="<%= username %>"
                  required
                />
              </div>
              <% if (error !== undefined) { %>
              <p>
                <small><%= error %></small>
              </p>
              <% } %>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form
      method="POST"
      action="/account?username=<%= username %>&_method=DELETE"
    >
      <input type="hidden" name="username" value="<%= username %>" />

      <div
        class="modal fade"
        id="delete-account-box"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-group">
                <p>Are you sure you want to delete your account?</p>
              </div>
              <div>
                <button type="submit" class="btn btn-danger">Yes</button>

                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <% include ./partials/scriptsatbottom.html %> <% if (error !== undefined) {
    %>
    <script src="/static/scripts/onloadWindowFunctionUserAccountPage.js"></script>
    <% } %>
  </body>
</html>
